.nav-pills li a {
  background-color: #757AD1;
  color: #FFFFFF;
}
.nav-pills li a:hover {
  background-color: #8F95FF;
  color: #000000;
}
.container-fluid {
  padding: 15px;
}

.rowPadding {
  padding: 15px 0px;
}

.btn-purple {
  background-color: #757AD1;
  color: #FFFFFF;
}
.btn-purple:hover {
  background-color: #8F95FF;
  color: #000000;
}

.receiptItem {
  font-size: 10px;
  color: #CCCCCC;
}

#allReceipts li:first-child {
  font-weight: bolder;
}
.items div {
  /*float: left;*/
}
.items div:first-child {

}
