body {
  background-color: #292929;
  color: #F2F2F2;
  /* #4AD99 #F5A503 #F2385A */
}
h3 {
  color: #04AD99;
}
h3 {
  color: #04AD99;
}
.form-group {
  color: #000;
}
.list-group-item {
  background-color: #292929;
}
.items {
  color: #F2F2F2;
}
.w3-card-4 {
  margin: 0 15px 15px 0;
  width: 300px;
  float: left;
}
.w3-bottombar {
  border-bottom: 6px solid #000!important;
}

.w3-hover-border-blue:hover {
  border-bottom: 6px solid #04AD99!important;
}

.w3-hover-text-blue:hover {
  color: #04AD99!important;
  text-decoration: none;
}

.w3-hover-border-purple:hover {
  border-bottom: 6px solid #757AD1!important;
}
.w3-hover-text-purple:hover {
  color: #757AD1!important;
  text-decoration: none;
}
.w3-hover-border-orange:hover {
  border-bottom: 6px solid #F5A503!important;
}

.w3-hover-text-orange:hover {
  color: #F5A503!important;
  text-decoration: none;
}

.w3-dark-grey {
 color: #F2385A!important;
 background-color: #D9D9D9!important;
}
.w3-dark-grey:hover {
 color: #F2385A!important;
}
.info-bg {
  background-color: #F2F2F2;
  color: #000;
}
.w3-bar {
  background-color: #000;
}
.btn-purple {
  background-color: #04AD99;
}
.btn-purple:hover {
  background-color: #05D6BD;
}
